/* common shared styles */
body{
     font-family: 'Open Sans', sans-serif;
}
.text-primary{
     color: rgb(255, 123, 0);
}
.btn-primary{
     border-radius: 5px;
     background: rgb(255, 123, 0);
     border:0;
     color: white;
     font-size: 20px;
     font-weight: 700;
     padding: 15px 35px; 
}

/* nav related Styles */ 

nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 200px;

}
.nav-title{
   color: black;  
   font-size: 45px;
   font-weight: 800;
}
nav > ul{
     display: flex;
     align-items: center;
}
nav li{
     list-style: none;
     margin-right: 50px;
     text-decoration: none;
}
nav a{
     text-decoration: none;
     color:black;
     font-size: 18px;
     font-weight: 500;
}

/* header related Styles */
.header{
     background-color: #FFF8f3;
     background-image: url('../images/header_bg.png');
     background-repeat: no-repeat;
     background-position:bottom right;
}
.banner{
     padding: 30px 30px 0px 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.banner-content{
     max-width:800px;
}
.banner-greeting{
     font-size: 45px;
     font-weight: 600;
     color:#474747;
     margin-bottom: 0px;
}
.banner-title{
     font-size: 85px;
     font-weight: 800;
     margin-top: 5px;
     margin-bottom: 15px;
}
.banner-description{
     margin-bottom: 20px;
}
.banner .profile-pic{
     width: 500px;
}
/* main section started */
main{
     max-width: 1140px;
     margin: 0 auto;
}
main section{
     margin-top: 150px;
}
.about{
     margin: 130px 0px;
     padding:130px;
     background-color: #ffcaa5a7;
     border-radius: 10px;
     
}
.section-title{
     color: #181818;
     font-size: 35px;
     text-align: center;
     font-family:'Open Sans';
     font-weight: 700;
}
.section-description{
     color: #474747;
     font-size: 18px;
     text-align: center;
     font-weight: 400;
     margin:30px 0px 50px 0px;
}
.about-info-container{
     display: flex;
     justify-content:space-around;
}
.about-info{
     text-align: center;
}
.info-title{
     font-size: 20px;
     margin-bottom: 0px;
}
.info-description{
     font-size: 18px;
     margin-top:5px;
}
/* skills related styles */
#what-i-do-description{
     padding:30 150px;
     text-align: center;
}
.skils-container{
     display: flex;
     gap: 30px;

}
.skills{
     padding:30px;
     background: #FFF;
     border-radius: 5px;
     box-shadow: 0px 0px 30px -10px #4747474e;
     justify-content: space-around;
     width: 267px;
     height: 300px;}
.skill-title{
     font-size: 20px;
     font-weight: 700;
     color: #181818;
}
.skill-description{
     font-size: 16px;
     font-weight: 400;
}
/* Resume Section styles */
.resume-column-title{
     color: #181818;
     font-size: 30px;
     font-weight: 700;

}
.resume-container{
     display: flex;
     gap:60px;
     margin-top:110px;
}
.resume-item-institute, .resume-item-description{
     color: #181818;
}
.resume-item-institute{
     font-size: 20px;
     font-weight: 600;
     color: #474747;
     margin-bottom: 20px;
}
.resume-item-title{
     font-size: 25px;
     color: #181818;
     font-weight: 700;
     margin-top: 20px;

}
.resume-container hr{
     margin: 30px 0px;
     color: #4747471b;
     width: 80%;
}
.download-cv{
     text-align: center;
     margin-top: 50px;
     margin-bottom: 100px;

}
/* Footer style */
footer{
     display: flex;
     background-color:#FFF8F3;
     padding: 130px 230px;
}